
@import url(style.css);
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    /* background: var(--schedule); */
background-color: rgba(91, 147, 190, 0.699);
background: var(--loc-h);
}
nav{
    z-index: 100;
}
.table{
    margin-top: 20px;
}
p{
    text-align: center;
    font-size: 50px;
    color: hsl(176, 50%, 40%);
    font-weight: 900;
    letter-spacing: 8px;

}
table{
    position: absolute;
    top:53%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 80%;
    border-collapse:collapse ;
    border-spacing:0 ;
    border-radius: 12px 12px 0 15px;
    overflow: hidden;
    /* box-shadow: 0 12px 5px rgba(32,32,32,.3); */
    /* background: rgb(247, 245, 244); */
    /* background-color:#539cca ; */
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    display: none;
}

.f{
    background: rgba(249, 246, 246, 0.664);
}
th{
    background-color: #539cca ;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 30px;
    border-radius: 15px;
}





.dv{
    z-index: 100;
    position:absolute;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 100px;
    margin-top: 3.5px;
}
input{
    width: 230px;
    height: 85px;
    border: coral;
    border-radius: 15px;
    font-size: 30px;
    padding: 0 20px;
    /* border: 1px solid brown; */

}

.sub{
    position: absolute;
    margin-left: 1020px;
    margin-top: 3px;
    width: 160px;
    height: 85px;
    border-radius: 15px;
    border: 2px solid brown;
    background: transparent;
    font-size: 25px;
    color: brown;
    font-weight: 900;
    z-index: 1000;

}
.sub:hover{
    background-color: brown;
    color: aliceblue;

}
.sub:active{
    transform: scale(0.9);
}

.e{
    background-color: #5c9dc5;
    width: 160px;
    font-size: 40px;
    color: white;
}
.p{
    background-color: #5c9dc5;
    color: white;
    font-size: 40px;
}
.ep{
    background-color: #5c9dc5;
    width: 160px;
}


