@import url(style.css);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/home-page-man.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.btnout{
	margin-left:800px;
	margin-top: 15px;
	height: 30px;
	width: 120px;
	border-radius: 25px;
	font-size: 20px;
	text-align: center;
	color:var(--career);
	background-color:transparent ;
	border:2px solid var(--career);
}
.btnout:hover{
	background-color: var(--career);
	color: white;

}
.logo{
    font-size: 43px;
}












/* header section start */

.header_section {
	width: 100%;
	float: right;
}



    

.sidenav {
	height:500px;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
    background-color: hsl(176, 31%, 53%, 0.9);
	overflow-x: hidden;
	transition: 0.5s ;
	padding-top: 100px;
	text-align: center;
    direction: rtl;
    /* margin-left: 670px; */
    margin-top: 80px;
    border-radius: 0 45px 45px 0;

}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	display: block;
	transition: 0.3s;
	letter-spacing: 5px;
}
.a{
	margin-top: -30px;
}
.a A:hover{
	background-color: var(--career);

}

.sidenav a:hover {
	color: #f1f1f1;

}

.sidenav .closebtn {
	position: absolute;
	top: 35px;
	right: 60px;
	font-size: 36px;
	padding: 0;
}


.header_taital_main {
	display: flex;
    /* direction: rtl; */
    margin-top: 120px;
    margin-left: 100px;
}

.toggle_icon{
    font-size: 30px;
    color: hsl(176, 31%, 53%, 0.9);
}
.menu{
	position: absolute;
	background:  hsl(176, 31%, 53%, 0.9);
	width: 100px;
	height: 32px;
	margin-top: 0px;
	margin-right: 3px;
	padding-left: 10px;
	font-size: 30px;
	font-weight: 900;
	color: #f1f1f1;
	letter-spacing: 5px;
	border-radius:0 25px 25px 0;
	cursor: pointer;
}





@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }

}