@import url(style.css);
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    /* background: var(--schedule); */
background-color: rgba(91, 147, 190, 0.699);
}
nav{
    z-index: 100;
}
.table{
    margin-top: 20px;
}
p{
    text-align: center;
    font-size: 50px;
    color: hsl(176, 50%, 40%);
    font-weight: 900;
    letter-spacing: 8px;

}
table{
    position: absolute;
    top:53%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    height: 80%;
    border-collapse:collapse ;
    border-spacing:0 ;
    border-radius: 12px 12px 0 0;
    /* overflow: hidden; */
    background: rgb(247, 245, 244);
    background: transparent;
    text-align: center;
    font-size: 25px;
 }
.t1{
    background-color: #539cca ;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 30px;
    border-radius: 15px;
        
}
td{
    padding: 10px 30px;
    /* width: 30px;
    height: 30px; */
    border-radius: 15px;
}
.t2{
    background-color: aliceblue;
}
.t3{
    background: rgba(255, 255, 255, 0.3);
}

.tc{
background-color: #5c9dc5  ;
color: aliceblue;
text-transform: uppercase;
font-size: 30px;
padding-left: 5px;
padding-right: 5px;
border-radius: 15px;
width: 160px;
}
 i{
    font-size: 30px;
    margin:0 -5px;
    color: hsl(176, 50%, 35%);



    
}
/* .f2{
    font-size: 20px;
    padding: 0;
} */
