@import url(style.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/slider-bg.png);
    background-size: cover;
    background-color:aqua;
    background-attachment: fixed;
    overflow: hidden;
}

/* .nav-iyem{
    background-color: var(--sel);
}
.nav-iyem:hover{

    background-color: transparent;
    border: 0.5px solid var(--sel);
    color:var(--sel);}
select{
    background-color: var(--apply);
    border: var(--apply);
}
select:hover{
    color: var(--apply);
    border: 0.5px solid var(--apply);
} */

.dy{
    width: 1147.5px;
    height: 514px;
    background-color: transparent;
    margin-top: 66.5px;
    margin-left: 73px;
    border: 1px;
    border-color: brown;
    /* overflow: scroll; */


}

h1{
    position: absolute;
    margin-top: 220px;
    margin-left: 85px;
    font-size: 50px;
    letter-spacing: 1px;

}

.rr{
    position: absolute;
    padding: 30px;
    height: 514px;
    width: 700px;
    margin-left: 450px;
    background-color:rgba(95, 158, 160, 0.347);
    /* background: transparent; */
    border: none;
    /* border-radiu: 22px; */
    /* resize: none; */
    overflow-y: auto;
    border-radius:  25px 0 0 25px ;
    font-size: 25px;
    overflow: scroll;
    overflow-x: auto;
}
